doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Orchestrive
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Orchestrive
        main
            div#Name
                h2 User Name
                form
                    input(placeholder="userName" type="text", required)
                    button Save Name 
            div#Session
                h2 Room Name
                form 
                    input(placeholder="room Name", required, type="text")
                    button Enter Room

        script(src="/socket.io/socket.io.js")
        script(src="./Client.js")  
