doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Orchestrive
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Orchestrive
        main
            h2 This is the main page 
            ul
            form#nick 
                //- 닉네임 저장 창 
                input(type="text",placeholder="choose a nickname", required)
                button Save
            ul
            form#message 
                //- 메세지 창 
                input(type="text",placeholder="write a message", required)
                button Send
            
        script(src="/public/js/app.js") 